<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="ICPruebaEntities" connectionString="metadata=res://*/Models.ICPrueba.csdl|res://*/Models.ICPrueba.ssdl|res://*/Models.ICPrueba.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-244O1133\SQLEXPRESS;initial catalog=ICPrueba;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ICPruebaEntities" connectionString="metadata=res://*/Models.ICPrueba.csdl|res://*/Models.ICPrueba.ssdl|res://*/Models.ICPrueba.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MIXSVLPRSSO02.tecnologiatmm.com.mx,21515;initial catalog=ICPrueba;user id=usrIContable;password=Ic17@2d8;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ICPruebaEntities" connectionString="metadata=res://*/Models.ICPrueba.csdl|res://*/Models.ICPrueba.ssdl|res://*/Models.ICPrueba.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0MGL76D\SQLEXPRESS;initial catalog=ICPrueba;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ICPruebaEntities" connectionString="metadata=res://*/Models.ICPrueba.csdl|res://*/Models.ICPrueba.ssdl|res://*/Models.ICPrueba.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LSKO0TE;initial catalog=20190921_IC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmpleadosEntities" connectionString="metadata=res://*/Images.Empleados.csdl|res://*/Images.Empleados.ssdl|res://*/Images.Empleados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LSKO0TE;initial catalog=Empleados;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UrlFTP" value="ftp://app_itx:X4h$oXt9@10.225.129.177/XQ0/ErpLatam/itzcontable_itxcsi/salida/" />
    <add key="UserFTP" value="app_itx" />
    <add key="PassFTP" value="X4h$oXt9" />
    <add key="HostCorreo" value="10.225.175.239" />
    <add key="PuertoCorreo" value="25" />
    <add key="sqlServer" value="data source=DESKTOP-0MGL76D\SQLEXPRESS;initial catalog=ICPrueba;Integrated Security=True;Connection Timeout=120;MultipleActiveResultSets=True" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>